body {
    margin: 0;
}

#main-container{
    width: 60%;
    margin: 150px auto 0;
}

#main-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
}

#main-table,
#main-table tr td {
    border: 1px solid #0094ff;
}

#main-table tr :first-child{
    width: 20%;
    min-width: 100px;
    cursor: pointer;
}

/* 子代[2,4] */
#main-table tr :nth-child(-n+4):nth-child(n+2){
    width: 25%;
}

#main-table tr :last-child{
    width: 5%;
    min-width: 50px;
    cursor: pointer;
}

#main-table thead td{
    height: 30px;
}

#main-table tbody td{
    height: 50px;
}