body{
    margin: 0;
}

#main-container{
    margin-top:30px;
}

.modify-form-item{
    margin: 15px 0;
}

.modify-form-item .form-input{
    height: 30px;
    line-height: 30px;
    width: 230px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 10px;
}

.modify-form-item .label {
    float: left;
    display: block;
    padding: 9px 15px;
    min-width: 100px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.modify-form-item button{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modify-form-item .modify-btn{
    margin-left: 130px; 
}

.message-container{
    margin-left: 130px;
    margin-top: 20px; 
}