body{
    background: #f3f3f4;
}

.login-main-container{
    width: 300px;
    height: 250px;
    margin: 150px auto 0;
}

.wel-wrapper{
    height: 30%;
    display: flex;
    align-items: center;
}

.wel-wrapper span{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
}

.input-wrapper{
    margin: 25px 10px;
}

.input-wrapper input{
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    margin: 10px 0;
    line-height: 1.3em;
}

.btns-wrapper{
    padding: 6px 12px;
    box-sizing: border-box;
}

.btns-wrapper button{
    width: 100%;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 2px;
    height: 30px;
    cursor: pointer;
}
