ul{
    border: 1px solid gray;
    list-style: none;
    padding-left:0;
    display: inline-block;
    border-radius: 5px;
}

li{
    padding:10px;
}

li:hover{
    cursor:pointer;
    border-radius: 5px;
}