.main-container{
    width: 90%;
    margin: 0 auto;
}

button{
    display: inline-block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.tb-container .role-selector{
    margin-top: 20px;
    display: inline-block;
}

.tb-container label {
    float: left;
    display: block;
    padding: 9px 15px;
    min-width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.tb-container select{
    min-height: 38px;
    line-height: 30px;
    width: 212px;
    padding-left: 10px; 
    border: 1px solid #e6e6e6;
}

.tb-container caption{
    padding-bottom: 5px;
}

.tb-container table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tb-container table,
.tb-container table tr td {
    border: 1px solid #0094ff;
}

.tb-container table thead tr td {
    padding: 8px;
    font-size: 1.0em;
}

.tb-container table tbody tr td {
    padding: 10px;
    font-size: 1.2em;
}

/* index */
.tb-container table tr :first-child{
    width: 8%;
}

.tb-container table tr :nth-child(2){
    width: 24%;
}

.tb-container table tr :nth-child(3){
    width: 24%;
}

.tb-container table tr :nth-child(4){
    width: 24%;
}

.tb-container table tr :nth-child(5){
    width: 10%;
}

.tb-container table tr :nth-child(6){
    width: 10%;
}

.delete{
    color: tomato;
    cursor: pointer;
}

.modify:hover{
    color: #009688;
    cursor: pointer;
}